<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
<script>
var bleep = new Audio();
bleep.src = "multimedia_button_click_015.mp3"
</script>
</head>
<body>
    <ul class="collection">
   <li class="collection-item avatar">
     <img src="images/yuna.jpg" alt="" class="circle">
     <span class="title">Title</span>
     <p>First Line <br>
        Second Line
     </p>
     <a href="#!" class="secondary-content"><i class="material-icons"  onmousedown="bleep.play()">grade</i></a>
   </li>
   <li class="collection-item avatar">
     <i class="material-icons circle">folder</i>
     <span class="title">Title</span>
     <p>First Line <br>
        Second Line
     </p>
     <a href="#!" class="secondary-content"><i class="material-icons"  onmousedown="bleep.play()">grade</i></a>
   </li>
   <li class="collection-item avatar">
     <i class="material-icons circle green">insert_chart</i>
     <span class="title">Title</span>
     <p>First Line <br>
        Second Line
     </p>
     <a href="#!" class="secondary-content"><i class="material-icons"  onmousedown="bleep.play()">grade</i></a>
   </li>
   <li class="collection-item avatar">
     <i class="material-icons circle red">play_arrow</i>
     <span class="title">Title</span>
     <p>First Line <br>
        Second Line
     </p>
     <a href="#!" class="secondary-content"><i class="material-icons"  onmousedown="bleep.play()">grade</i></a>
   </li>
 </ul>
</body>
</html>
